.page {
    height: 100%;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    width: 1030px;
    margin: 0px auto;
    background: transparent;
    position: relative;
}

.messages-content {
    background: transparent;
}
